
<h1>Physical Biology of the Cell <hr><span style="font-size:14px; text-transform: none;">Second Edition</span></h1>
<br/>
<div class="smokescreen">
<ul id='links'></li>
  <center>
      <a href="https://www.crcpress.com/Physical-Biology-of-the-Cell/Phillips-Kondev-Theriot-Garcia/p/book/9780815344506"><b>Publisher Website</b></a>
      <img src="assets/pboc_thumb.jpg" style="max-height:200px">
    </center>
 <hr\>
 <i> <center>Authors</center></i>
 <hr>
  <li></li><a href="http://rpgroup.caltech.edu">Rob Phillips</a></li>
  <li></li><a href="https://www.brandeis.edu/departments/physics/people/faculty/kond.html">Jane Kondev</a></li>
  <li></li><a href="http://cmgm.stanford.edu/theriot/">Julie Theriot</a></li>
  <li></li><a href="http://physics.berkeley.edu/people/faculty/Hernan-Garcia">Hernan G. Garcia</a></li>
  <li>Illustrated by Nigel Orme</li>
</ul>
</ul>
</div>  